################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/SmartPong.Domain/bin/Debug
/.vs/config
*.user
