
@{
    ViewBag.Title = "Admin";
}

<h2>Administration</h2>

@Html.ActionLink("Submit Match", "Submit")
<br />
@Html.ActionLink("Confirm Matches", "Confirm")
<br />
@Html.ActionLink("Reload", "Reload")

